.item1{
    background-color: aqua;

}
.item2{
    background-color:bisque;

}
.item3{
    background-color: aqua;

}
.container{
    display: grid;
    background-color: darkgray;
    padding: 1rem;
}
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }



  @import url(https://fonts.googleapis.com/css?family=Lato:300);

  .login {
    width: 500px;
    padding: 10% 0 0;
    margin: auto;
  }
  .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
  
  .form input {
      font-family: "Lato", sans-serif;
      outline: 0;
      background: #e7e4e4;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
  
  .form button {
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #262725;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }
  
  .form button:hover,.form button:active,.form button:focus {
      background: #3d3d3d;
    }
  
  .form .registration-form {
      display: none;
    }
  
  .loginbg {
      background: #3d3d3d; 
      font-family: "Lato", sans-serif;   
      background-image: url('./media/login.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;  
    }



* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: center;
  
  
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}